
 
<div class="wrap">

    <div id="header">
    <h1><img src="/assets/img/jetslogo.png">SkyScrapers</h1>
      <div id="toolbar">
      <a href="/"><button class="btn btn-success" style="background-color:#003F2D">Home</button></a>
      </div>

      <div class="row" id="belowHeader">
        <div class="col-3"><div class="containerImg"><img class="scraper" src="/assets/img/loading.gif"></div></div>
        <div class="col-6 blink_me"></div>
        <div class="col-3"><div class="containerImg"><img class="scraper" src="/assets/img/loading.gif"></div></div>
      </div>
    </div>

    <div id="articleContainer">

      <div class="container3">

          <div class="card" id="articles-here">
    
            {{#each articles}}  
              {{#if Saved}}
              <div class="row articleContainer">
                <div class="col-md-12 reading-container">
                  <div class="card">
                    <div class="card-header">
                      <div class="row">
                       <div class="col-3 reading readingPlace articlImage"><img src="{{this.pic}}"><p>{{this.date}}</p></div>
                       <div class="col-6 reading readingJets"><a href="{{this.link}}"><h3>{{this.title}}</h3></a><p>{{this.snip}}</p>
                       <button data-saveId="{{this.id}}" class="save btn btn-xs btn-success float-left">SAVED</button>
                       <button data-notes="{{this.id}}" class="getNotes btn btn-xs btn-info">NOTES</button>
                       <button data-delId="{{this.id}}" class="delete btn btn-xs btn-danger float-right">DELETE</button>
                       </div>
                       <div class="col-3">
                        <div class="container">
                          <form>
                            <div class="form-group">
                              <textarea class="form-control" rows="5" placeholder="Take a Note!" data-field="{{this.id}}"></textarea>
                            </div>
                          </form>
                        </div>
                        <button data-edit="{{this.id}}" class="edit btn btn-xs btn-info">SUBMIT</button>
                        
          
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
             {{/if}}
            {{/each}}
          </div>
          </div>
    </div>

    <!-- The Modal -->
<div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">      
              
              <h4><u>Notes</u></h4>

              <div id="noteField"></div>
              <div class="close">x</div>
        
      </div>
</div>



    <div id="footer">
       <a href="/getAllArticles">Articles</a>
      <a href="/getAllNotes">Notes</a>
      <a href="/populatedArticles">Populate </a>
    </div>
</div>

